
<div class="card">
    <div class="card-header">Products List</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table" *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor = 'let product of products'>
                        <td><img style="width: 50px;" [src]='product.imageUrl' /></td>
                        <td style="text-align: center;">{{product.productId}}</td>
                        <td>{{product.productName}}</td>
                        <td>{{product.description}}</td>
                        <td>{{product.price}}</td>
                        <td><a [routerLink] = "['/about']">Details</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
